.header-component {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 5px;
  color: var(--clr-accent);
  /* border: solid 2px var(--clr-accent-2); */
  border-bottom: solid 0.5px var(--clr-accent);
  /* border-radius: 20px; */
  background-color: var(--clr-primary);
  z-index: 4200;
}

.header-title {
  font-size: 3rem;
}

.header-nav {
  position: absolute;
  top: 13px;
  right: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
