.header-component {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 95%;
  padding: 5px;
  color: var(--clr-accent);
  border: solid 4px var(--clr-accent);
  border-radius: 20px;
  background-color: var(--clr-primary);
  z-index: 1200;
}

.header-title {
  font-size: 3rem;
}

.header-nav {
  position: absolute;
  right: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
