.profile-container {
  position: absolute;
  z-index: 5000;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 100px 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: solid 0.5px var(--clr-accent);
  border-radius: 0 0 20px 20px;
  background-color: var(--clr-bg-1);
  width: 90vw;
  height: 90vh;
}

.profile-text {
  color: var(--clr-accent-2);
  padding: 5px;
  font-size: 1.5rem;
}

.big {
  font-size: 2rem;
  color: var(--clr-text);
}

.profile-close {
  position: absolute;
  color: var(--clr-accent);
  top: 13px;
  right: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.user-icon {
  color: var(--clr-accent);
  height: 65px;
  width: 65px;
}

.input-field-password {
  position: absolute;
  bottom: 60px;
  left: 10px;
}

.delete-user-text {
  color: var(--clr-accent-2);
  position: absolute;
  bottom: 90px;
  left: 10px;
}

.placement-datepicker {
  position: fixed;
  bottom: 60px;
  right: 10px;
}
.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.restart-text {
  color: var(--clr-accent-2);
  width: 100%;
  text-align: center;
}
.extra-margin {
  margin-top: 10px;
}

.error-message-profile {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-accent-2);
  background-color: var(--clr-bg-1);
  border: 1px solid var(--clr-accent-2);
  border-radius: 10px;
  padding: 5px 8px;
}
