.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 450px;
}

.form-shape {
  position: relative;
  z-index: 1000;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid var(--clr-accent);
  background-color: var(--clr-primary);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.672);
}

.form-maincircle-circle {
  position: relative;
  top: 110px;
  left: 80px;
  height: 150px;
  width: 150px;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  padding: 20px;
  animation: movecircle 0.5s 2s 1 forwards;
  opacity: 0;
}

.form-maincircle-eyes {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s;
}

.form-maincircle-eye {
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 0.5px solid #fff;
  border-radius: 25px 25px 25px 25px;
  animation: blink 6s infinite;
}

@keyframes blink {
  0% {
    height: 20px;
    width: 20px;
  }
  15% {
    height: 24px;
    width: 16px;
  }
  20% {
    height: 24px;
    width: 16px;
  }
  60% {
    height: 24px;
    width: 16px;
  }
  70% {
    height: 20px;
    width: 20px;
  }
  85% {
    height: 4px;
    width: 20px;
  }
  90% {
    height: 4px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@keyframes movecircle {
  0% {
    transform: translateX(100px);
    transform: translateY(50px);
  }

  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: translateX(0px);
    transform: translateY(0px);
    transform: rotate(25deg);

    opacity: 1;
  }
}
