.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}
@media (min-width: 801px) {
  .form-container {
    margin-bottom: 120px;
  }
}

.form-shape {
  position: relative;
  z-index: 1000;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* border: 2px solid var(--clr-accent-2); */
  background-color: var(--clr-bg-1);
  /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.672); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-maincircle-circle {
  position: relative;
  top: 110px;
  left: 80px;
  height: 150px;
  width: 150px;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  padding: 20px;
  /* animation: movecircle 0.5s 3s 1 forwards; */
  opacity: 0;
}

.form-maincircle-eyes {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s;
}

.form-maincircle-eye {
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 0.5px solid #fff;
  border-radius: 25px 25px 25px 25px;
  animation: blink 6s infinite;
}

@keyframes blink {
  0% {
    height: 20px;
    width: 20px;
  }
  15% {
    height: 24px;
    width: 16px;
  }
  20% {
    height: 24px;
    width: 16px;
  }
  60% {
    height: 24px;
    width: 16px;
  }
  70% {
    height: 20px;
    width: 20px;
  }
  85% {
    height: 4px;
    width: 20px;
  }
  90% {
    height: 4px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

/* @keyframes movecircle {
  0% {
    transform: translateX(100px);
    transform: translateY(50px);
  }

  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: translateX(0px);
    transform: translateY(0px);
    transform: rotate(25deg);

    opacity: 1;
  }
} */

/* BUBBLE NOT IN USE RIGHT NOW */

/* .bubble {
  position: absolute;
  visibility: hidden;
  z-index: 100;
  top: -40px;
  width: 250px;
  height: 120px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  border-radius: 56px;
  border: #000000 solid 4px;
  animation: bubble-display 6s 5s backwards;
  transition: all 1s;
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 31px 20px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -31px;
  left: 143px;
}

.bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 34px 23px 0;
  border-color: #000000 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -38px;
  left: 140px;
}

.bubble-text {
  font-size: 2.6rem;
}

@keyframes bubble-display {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
} */
