.hero-section {
  position: relative;
  width: 100vw;
}

.hero-text {
  padding: 50px 0 0 20px;
  font-size: 1.95rem;
  position: relative;
  z-index: 100;
  color: var(--clr-accent);
  -webkit-text-stroke-color: var(--clr-primary);
  -webkit-text-stroke-width: 0.1px;
}

.small-circle,
.big-circle {
  background-color: var(--clr-accent);
  border-radius: 50%;
  position: absolute;
}

.small-circle {
  height: 20px;
  width: 20px;
}

.big-circle {
  height: 80px;
  width: 80px;
}

.small-circle-place01 {
  top: 20px;
  left: 105px;
}

.big-circle-place01 {
  top: 0px;
  left: 20px;
}

.small-circle-place02 {
  top: 85px;
  left: 130px;
}

.big-circle-place02 {
  top: 40px;
  left: 100px;
}
