* {
  box-sizing: border-box;
}

body {
  margin: 0 5px 5px 0;
  background-color: var(--clr-primary);
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
}

:root {
  /* --clr-accent: #000;
  --clr-accent-2: #4fe78e;
  --clr-primary: #f9f9f9; */

  --clr-accent: #f9f9f9;
  --clr-accent-2: #4fe78e;
  --clr-primary: #18191a;
  --clr-text: #f9f9f9;
  --clr-bg-1: #242426;
}

.wrapper {
  border: var(--clr-accent-2) solid 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 801px) {
  .box {
    margin: 100px 40px;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    align-items: center;
    justify-content: center;
  }
}
