* {
  box-sizing: border-box;
}

body {
  margin: 75px 0 0 0;
  background-color: var(--clr-primary);
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
  margin: 0;
}

:root {
  --clr-accent: #000;
  --clr-primary: #f9f9f9;
}

.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}
