.daycircle-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.daycircle-container svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  pointer-events: none;
}

.year-display {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 2rem;
  color: var(--clr-text);
  /* border: 4px solid var(--clr-accent);
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--clr-primary); */
  z-index: 1000;
}

.custom-circle {
  z-index: 3000;
}
