.dropdown-menu {
  position: absolute;
  top: 101%;
  right: 3%;
  border: solid 0.5px var(--clr-accent);
  border-radius: 0 0 20px 20px;
  background-color: var(--clr-bg-1);
  padding: 10px 20px;
  opacity: 0.8;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.dropdown-text {
  padding-top: 20px;
  border-bottom: 2px solid var(--clr-accent-2);
  color: var(--clr-text);
  width: fit-content;
  cursor: pointer;
}

.dropdown-text:hover {
  color: var(--clr-accent-2);
}

.dropdown-link {
  text-decoration: none;
  color: inherit;
}
